#adaboost_graph {
	padding: 0.5em;
}

input {
	width: 3em;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.h,.v{
	stroke:black;
	stroke-dasharray:4 4;
	stroke-width:1;
	stroke-opacity:.5;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	background-color: #f5f5f5;
}

.bg-warning, .bg-info, .bg-success{
	padding: 15px;
}